*,*::after,*::before{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
}
html{
    scroll-behavior: smooth !important;
}
body{
    position: relative;
    background-color: #091921;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e91e63,#ffc107);
    clip-path: circle(20% at 30% 20%);
    z-index: -1;
}
body::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e91e63,#ffc107);
    clip-path: circle(20% at 70% 90%);
    z-index: -1;
}
body::-webkit-scrollbar{
    width: .25em;
    transition: width 1s ease;
    position: absolute;

}
body::-webkit-scrollbar:hover{
    width: .7em;
}
body::-webkit-scrollbar-track{
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.5);
}

#hello{
    display: none;
}
.iamdhruv svg text{
    stroke: #fff;
    font-size: 6em;
    fill: transparent;
    stroke-width: 1;
    animation: textanimate 4s ease-in-out forwards;
}
@keyframes textanimate{
    0%{
        stroke-dasharray: 0 50%;
    }
    50%{
        fill: transparent;
    }
    90%{
    }
    100%{
        
        stroke-dasharray: 50% 0;
        fill: #fff;
    }
}
.heading{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.iamdhruv{
    color:#fffffe;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.navbar{
    position: relative;
    height: 4em;
    background:rgba(255, 255, 255, 0.05);
    color: #e3f6f5;
    border-top: 1px solid rgba(255, 255, 255, 0.2);


}
.navbar>div>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-obj{
    overflow-y: hidden;
    position: relative;
    cursor: pointer;
}

.nav-obj span{
    display: inline-block;
    position: relative;
}

.nav-obj:hover span:not(:last-child){
    transition: .3s;
    transition-delay: calc(.3s/calc(var(--j))*var(--i) );
    transform: translateY(-100%);
    
}

.nav-obj span:last-child{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0%);
}
.nav-obj:hover span:last-child{
    transition: .3s;
    transition-delay: .3s;
    transform: translate(-50%,-100%);
    
}
@keyframes animate{
    0%{
        top: -100vh;
        left: -50vh;
    }
    100%{
        top: calc(40vh * -1.414);
        left: -50vh;
    }
}

@keyframes animate1{
    0%{
        top: -200vh;
        left: -125vh;
    }
    100%{
        top:calc(90vh * -1.414);
        left: -125vh;
    }
}

@keyframes animate2{
    0%{
        bottom: -100vh;
        right: -50vh;
    }
    100%{
        right: -50vh;
        bottom:calc(40vh * -1.414);
    }
}
.me{
    border-radius: 15px;
    overflow: hidden;
}
.about>div{
    margin-bottom: 2em;
    backdrop-filter: blur(2px);

}
#skills{
    margin-top: 2em;
}
#about,#skills,#contact{
    font-size: 2em;
}
#about{
    margin-bottom: 1em;
}
.mypicture{
    border-radius: .5em;
    width: 90%;

}
.skills{
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.skills>div>img{
    height: 4em;

}
.skills>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects{
    font-size: 2.6em;
    
}
.projects>.container{
    border-radius: 15px;
    overflow: hidden;
    font-size: .7em;
    margin-top: 2em;
    backdrop-filter: blur(2px);

}

.p-card{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 2em;
    border-radius: 3px;
    transition: 1s;
}
.p-card:nth-of-type(even){
    flex-direction: row-reverse !important;
}
.p-card:hover{
    cursor: pointer;
}

.p-card a{
    color: #fff;
}

.imgbox img{
    border-radius: 3px;
    width: 30vw;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: transparent;
    font-size: 1.2em;
    font-weight: bolder;
    margin: .5em;
    transform: translateZ(40px) ;
    width: 50%;

}
.icons{
    font-size: 3em;
}
#leet{
    -webkit-filter: invert(1);
    filter: invert(1);
}